<script type="text/javascript" src="${pluginRoot}/res/js/driver.js"></script>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><a href="${pluginRoot}/datasource">数据源列表信息</a></li>
  <li role="presentation"><a href="${pluginRoot}/jpa">持久化实体信息</a></li>
  <li role="presentation" class="active"><a href="#">驱动列表信息</a></li>
</ul>
<div>
		  <table class="table tablesorter nicetable noauto">
			 <thead>
			    <tr>
			      <td>序号</td>
			      <td>驱动名称</td>
			      <td>数据库版本</td>
			      <td>组件名称</td>
			      <td>组件提供人</td>
			      <td>组件描述</td>
			    </tr>
			 </thead>
			 <tbody id="driver_list">
		     </tbody>
		  </table>
</div>
